.confirm__container {
    max-width: 31.5rem;
    background-color: #FFF;
    border-radius: 2.25rem;
    padding: 3rem 4rem 4rem 4rem;
}
.success__icon {
    width: 4rem;
    margin-bottom: 2.5rem;
}
.success__title {
    font-size: 3.5rem;
    font-weight: 700;
    color: #242742;
    line-height: 100%;
    margin-bottom: 1.5rem;
}
.success__text {
    font-size: 1rem;
    color: #242742;
    line-height: 150%;
    margin-bottom: 2.5rem;
}
.success__text span {
    font-weight: 700;
}
.success__button {
    width: 100%;
    color: #FFF;
    border-radius: 0.5rem;
    padding: 1rem 0;
    background-color: #242742;
}

.success__button:hover {
    background: linear-gradient(to bottom left,rgb(255,106,58) 0%, rgb(255,82,123) 100%);
    box-shadow: 0px 10px 20px 5px rgba(255, 106, 58, 0.3);
    cursor: pointer;
}

@media (max-width:37.5rem) {
    .confirm__container {
        margin: 0 2rem;
    }
    .success__title {
        font-size: 2.5rem;
    }
}

@media (max-width: 26.5625rem) {
    .confirm__container {
        width: 100%;
        margin: 0;
        border-radius: 0;
        height: 100vh;
        padding: 9.3125rem 1.5rem 0;
    }
    .success__text {
        margin-bottom: 16.4375rem;
    }
}