.formulario__news {
    width: 100%;
}
.form__label {
    display: flex;
    justify-content: space-between;
}

.form__email {
    color: #242742;
    font-size: 0.75rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    line-height: 150%;
}

.validacion__error {
    color: #FF6155;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 150%;
}

.input__email {
    width: 100%;
    padding: 1rem 1.5rem;
    border: 1px solid rgb(178, 178, 178);
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    outline: none;
    cursor: pointer;
}

.input__email:focus {
    border-color: black;
}

.error {
    border-color: #FF6155;
    background-color: rgba(255,97,85,0.15);
    color: #FF6155;
}

.error:focus {
    border-color: #ff4638;
}

.submit__button {
    width: 100%;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    line-height: 150%;
    padding: 1rem 0;
    border-radius: 0.5rem;
    background-color: #242742;
    cursor: pointer;
}

.submit__button:hover {
    background: linear-gradient(to bottom left,rgb(255,106,58) 0%, rgb(255,82,123) 100%);
    box-shadow: 0px 10px 20px 5px rgba(255, 106, 58, 0.3);
}

@media (max-width: 46.875rem) {
    .submit__button {
        margin-bottom: 2.5rem;
    }
}